.portfolio__projectList {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.portfolio__projectList-heading {
  text-align: center;
  margin-bottom: 2.5rem;
}

.portfolio__projectList-heading h2 {
  font-size: 40px;
  line-height: 1.2;
  font-family: var(--font-family);
  font-weight: 700;
  color: #111827;
}

.portfolio__projectList-container {
  display: flex;
  justify-content: center;
}

.portfolio__projectList-container_groupB {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .portfolio__projectList-heading h2 {
    font-size: 32px;
  }
}
