.portfolio__projectList {
  margin-top: 2rem;
}

.portfolio__projectList-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio__projectList-heading h1 {
  font-size: 50px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--color-text);
}

.portfolio__projectList-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__projectList-container_groupB {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .portfolio__projectList-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .portfolio__projectList-heading h1 {
    font-size: 30px;
    line-height: 42px;
  }

  .portfolio__projectList-container {
    margin: auto;
    width: 50%;
  }
}
