.portfolio__projectDetails {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-content: center;
  margin: auto;
  width: 65%;
}

.portfolio__projectDetails-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio__projectDetails-heading h1 {
  font-size: 40px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-text);
}

.portfolio__projectDetails-container_group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .portfolio__projectDetails-heading h1 {
    font-size: 30px;
    line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .portfolio__projectDetails-heading h1 {
    font-size: 24px;
  }
}
