.portfolio__projectDetails {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem 4rem;
}

.portfolio__projectDetails-heading {
  text-align: center;
  margin-bottom: 2.5rem;
}

.portfolio__projectDetails-heading h2 {
  font-size: 38px;
  line-height: 1.2;
  font-family: var(--font-family);
  font-weight: 700;
  color: #111827;
}

.portfolio__projectDetails-container_group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .portfolio__projectDetails-heading h2 {
    font-size: 30px;
  }
}
