* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-main);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: #f5f5f5;
}

.section__padding {
  padding: 2rem 0;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
