.backToTop_button button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  font-size: 50px;
  color: #bdbdbd;
  background-color: rgb(57, 57, 57);
  border-radius: 4px;
  border-width: 0;
  animation: fadein 0.4s;
}

.backToTop_button button:hover {
  background-color: rgb(35, 35, 35);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
